@model Proyecto_de_Diseño_y_Desarrollo_de_Sistemas.Models.ForgotPassword

@{
    ViewBag.Title = "Olvidó su contraseña";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fundacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/styleLogin.css">
</head>
<body>
    <div class="container">
        <h2>Olvidó su contraseña</h2>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.Correo)
                @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Correo)
            </div>
            <button type="submit" class="btn btn-primary">Enviar enlace de restablecimiento</button>
        }
    </div>
</body>
</html>