@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* @Model Usuario; *@
@{
	ViewData["Title"] = "Editar Usuario";
}

<form method="post" action="/Usuario/SaveUser">
	<div class="card">
		<div class="card-header">
			Id : @Model.IdUsuario
			<input type="hidden" name="id" id="IdUsuario" value="@Model.IdUsuario" />
		</div>
		<div class="card-body">
			<p class="card-text">Nombre: </p>
			<input type="text" id="NombreCompleto" name="nombre" class="form-control" required value="@Model.NombreCompleto" />
			<p class="card-text">Usuario: </p>
			<input type="text" id="Username" name="Username" class="form-control" required value="@Model.Username" />
			<p class="card-text">Edad: </p>
			<input type="text" id="Edad" name="Edad" class="form-control" required value="@Model.Edad" />
			<p class="card-text">Correo: </p>
			<input type="text" id="Correo" name="Correo" class="form-control" required value="@Model.Correo" />
			<p class="card-text">Domicilio: </p>
			<input type="text" id="Domicilio" name="Domicilio" class="form-control" required value="@Model.Domicilio" />
			<p class="card-text">Contraseña: </p>
			<input type="password" id="pwd" name="password" class="form-control" required value="@Model.Pwd" />
			<p class="card-text">Estado: </p>
			@Html.DropDownList("EstadoUsuario", new List<SelectListItem>
			{
				new SelectListItem { Text = "Activo", Value = "Activo" },
				new SelectListItem { Text = "Inactivo", Value = "Inactivo" }
			}, new { @class = "form-control" })
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-primary mb-3" style="width:auto">Guardar</button>
			<button type="submit" class="btn btn-danger mb-3" style="width:auto">Cancelar</button>
		</div>
	</div>
</form>
